<section>
    <div>
        <app-cloud />
    </div>
    <div class="hoja">
        <h1>¡Bienvenido!</h1>
        <p>La paciencia de hoy siembra<br>el aprendizaje del mañana.</p>

        <div class="login-type" (click)="swicthRole()">
            @if (role == "Maestro") {
                <p class="selected">Maestro</p>
                <p>Estudiante</p>
            }@else if (role == "Estudiante") {
                <p>Maestro</p>
                <p class="selected">Estudiante</p>
            }
            
        </div>

        <form #f="ngForm" (ngSubmit)="submit(f)" class="formulario">

            @if (role == "Maestro") {
                <p>
                    <i class="fa-solid fa-user"></i>
                    <input type="email" name="email" id="loginEmail" placeholder="Correo electrónico" ngModel>
                </p>

                <p>
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="psw" id="loginPsw" placeholder="Contraseña" ngModel>
                </p>

                <p>
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="cPsw" id="loginConf" placeholder="Confirmar contraseña" ngModel>
                </p>

            }@else if (role == "Estudiante") {
                <p>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="firstName" id="loginFirstName" placeholder="Nombre" ngModel>
                </p>

                <p>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="psw" id="loginLastName" placeholder="Apellidos" ngModel>
                </p>
            }

            @if (errorMessage != '') {
                <p class="errorMessage">{{errorMessage}}</p>
            }

            <button type="submit">Inicia sesión</button>
        </form>

        <div class="redireccion">
            <p>¿Aún no te registras? <span routerLink="../register">Registrate.</span></p>
        </div>
    </div>
</section>

<app-nube />

@if (isLoading) {
    <app-loading-screen-overlay />
}