:host {
    margin-inline: 50px;
    margin-block: 20px;
    width: 100%;
    max-width: 90vw;
}

section {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h1{
    font-size: 2.5em;
    font-weight: 800;
    color: var(--color-font);
    margin: 0;
    padding-left: 20px;
}
.details{
    display: flex;
    align-items: center;
    gap:15px;
    margin: 0;
}

.text-details{
    text-align: right;
    display: block;
}
.tag{
 display:flex;
 align-items: center;
 justify-content: flex-end;
 gap: 8px;
 margin-block: 4px;
}

div {
    margin-block: 10px;
    margin-inline: 20px;
    display: flex;
}

hr {
    width: 100%;
}
.etiqueta{
    display: inline-block;
    padding: 4px 8px;
    background-color: var(--color-etiqueta);
    border-radius: 12px;
    color:azure;
}
.user-name{
    font-weight: bold;
    font-size: 1.5em;
    color:var(--color-font);
}
.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.logout{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid var(--color-font);
    border-radius: 5px;
    font-size: 1.2em;
}