:host {
    position: absolute;
    margin-inline: 50px;
    margin-block: 20px;
    width: 90vw;
}

section {
    font-family: 'Fredoka',  sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div {
    margin-block: 10px;
    margin-inline: 20px;
    display: flex;
}

hr {
    width: 100%;
}