<section>
    <div class="title">
        <h1>{{view()}}</h1>
    </div>
    <div class="details">
        <div class="text-details">
            <p class="tag">
                <span class="etiqueta">{{role()}}</span>
                <span class="user-name">{{name()}}</span>
            </p>
           <p>{{school()}}</p>
        </div>
        <div class="user"> <img src="/public/perfil.jpg" alt=""></div>
        <span class="logout"><i class="fa-solid fa-right-from-bracket"></i></span>
    </div>
</section>
<hr>
