<section class="anuncio">
    <app-greeting />
</section>

<section class="categorias-container">
    <h2>Categoria</h2>
    <div class="categorias-grid">
        <div routerLink="./cognitive-abilities" class="categoria-card cognitiva">
            <div class="card-icon">
                <img src="/nuboPalabras.svg" alt="Área Cognitiva">
            </div>
            <h3 class="card-title">Área Cognitiva</h3>
            <p class="card-description">Descubre cómo se forman las palabras, paso a paso, con audio y divertidas animaciones.</p>
        </div>     
        <div routerLink="./menu-memory-game" class="categoria-card ludica">
            <div class="card-icon">
                <img src="/nuboConCartas.svg" alt="Área Lúdica">
            </div>
            <h3 class="card-title">Área Lúdica</h3>
            <p class="card-description">Descubre cómo se forman las palabras, paso a paso, con audio y divertidas animaciones.</p>
        </div>
    </div>
</section>