:host {
    display: block;
    width: 100%;
    height: 100%;
}

.actividad-container {
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px;
    overflow-y: auto;
    height: calc(100vh - 120px);
    margin-left: auto;
    margin-right: auto;
}


.actividad-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.back-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-font);
    display: block;
    align-self: flex-start; 
    margin-left: 0;
}

.progress-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.progress-title {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-font);
}

.progress-bar-container {
    width: 80%;
    height: 12px;
    background-color: var(--color-bar);
    border-radius: 6px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background-color: var(--color-module3); 
    border-radius: 6px;
    transition: width 0.3s ease;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.image-navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.main-image-card {
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.nav-arrow {
    background-color: #E2F0FF; 
    border: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    font-size: 1.5rem;
    color: #4A90E2;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-arrow i{
 font-size: 2.2rem;
}

.syllable-buttons,
.phoneme-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.syllable-button, .audio-button {
    padding: 25px 50px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.audio-button {
    padding: 10px 15px;
    background-color: var(--color-model); 
    font-size: 1.8rem;
}

.phoneme-button {
    padding: 25px 35px;
    border: none;
    border-radius: 50px; 
    font-size: 1.8rem;
    font-weight: bolder;
    cursor: pointer;
    color: #333;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.color-green { background-color: #E6F097; }
.color-yellow { background-color: #FEF9C3; }
.color-blue { background-color: #BDE0FE; }
.color-purple { background-color: #D4BFFF; }