:host {
    margin-block: 5vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.back-link-container {
    width: 90%; 
    max-width: 1200px;
    padding: 0 5%;
}

.back-link-container a {
    text-decoration: none;
    color: var(--color-font); 
    font-size: 1.5rem;
    padding: 10px;
    display: inline-flex; 
    align-items: center;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-inline: 20px;
    width: 90%;
    max-height: 90%;
    padding-block: 30px;
    border-radius: 20px;
    height: fit-content;
}

.creation-panel {
    background-color: #ffffff;
}

.management-panel {
    background-color: #E7D7F0;

    hr {
        width: 90%;
        align-self: center;
        border: 1px solid black;
        margin-block: 10px;
    }
}

.img-container {
    width: 100%;
    height: auto;
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pfp-preview {
        width: 30%;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    p {
        border: 0;
        text-align: center;
        font-size: 25px;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.formulario p {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.formulario i {
  position: absolute;
  left: 15px;
  color: #999;
  font-size: 16px;
  z-index: 1;
}

.formulario input {
  width: 250px;
  padding: 12px 15px 12px 45px;
  border: none;
  border-radius: 8px;
  background-color: #F0EDDF;
  color: #333;
  font-size: 20px;
  transition: all 0.3s ease;
  border: 1px solid #ededed;
}
.formulario input::placeholder {
  color: #999;
}

.button-container {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

button {
    padding-inline: 30px;
    padding-block: 15px;
    border: 0;
    border-radius: 10px;
    font-size: large;
}

.cancel {
    background-color: #D96073;
}
.cancel:hover {
    background-color: #b44858;
}

.add {
    background-color: #D6DC82;
}
.add:hover {
    background-color: #b3b95f;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block: 10px;
}

.student-container{
    width: 90%;
    height: 50px;
    padding-inline: 20px;
    padding-block: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: 0.15fr 0.1fr 1fr;
    align-items: center;
    border-radius: 20px;

    span {
        margin-inline: 20px;
        font-size: large;
    }
}

.data-img {
    width: 50px;
    border-radius: 50%;
}