<div class="students-main-container">
    <router-outlet></router-outlet>
    <section class="management-panel" *ngIf="!mostrarVistaHija">
        <div class="title">
            <h2>Perfiles de alumnos</h2>
            <button type="button" class="add" (click)="crearNuevoAlumno()">
                <i class="fa-solid fa-user-plus"></i>
                Crear
            </button>
        </div>
        <hr>
        
        <div class="students-grid">
            <div 
                *ngFor="let student of data" 
                class="student-card"
                (click)="verDetalleAlumno(student.id)"
            >
                <img src="raul.jpg" [alt]="student.name" class="student-avatar">
                <div class="student-info">
                    <h3 class="student-name">{{student.name}}</h3>
                    <p class="student-fullname">{{student.name}} {{student.apellidoP}} {{student.apellidoM}}</p>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </section>
</div>