:host {
    display: flex;
    flex-direction: column;
    width: 100vw; height: 100vh;
    background-color: #FFFCF9;
    overflow: auto;
    overflow-y: hidden;
}
.cuerpo {
    margin-left: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.anuncio {
    width: 90%;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
section {
    width: 90%;
    margin-top: 2rem;
}