:host {
    display: grid;
    grid-template-columns: 0fr 1fr;
    width: 100vw; height: 100vh;
    background-color: #FFF9F2;
    overflow: auto;
    overflow-y: hidden;
}
.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85vw;
}
.anuncio {
    width: 90%;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
section {
    width: 90%;
    margin-top: 2rem;
}