:host{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(250, 235, 215, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i{
    font-size: 100px;
    margin-bottom: 70px;
}

p {
    font-size: large;
}