section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
    padding:20px;
}

.cards-ejercicios{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}

.img-container{
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 12px;
    background-color: var(--color-model);
}
.img-container img{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10%;
}
.activity-title{
    font-size: 1em;
    font-weight: bold;
    color: var(--color-font);
    text-align: center;
    margin-top: 10px;
}