:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #FFF9F2;
    overflow: hidden;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}