:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #FFF9F2;
    overflow: hidden;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0 20px;
}

.cuerpo::-webkit-scrollbar {
    width: 10px;
}

.cuerpo::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    margin: 10px 0;
}

.cuerpo::-webkit-scrollbar-thumb {
    background: #C9C7E9;
    border-radius: 10px;
}

.cuerpo::-webkit-scrollbar-thumb:hover {
    background: #B5B3D8;
}

section {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px 10% 20px 1%;
}