.container {
    display: grid;
    grid-template-rows: 2fr 0.5fr;
    width: 100px;
    height: 98%;
    margin: 10px; margin-right: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.teacher{
    background-color: #EBE3C0;
}
.student{
    background-color: #A2D8F2;
}

div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100px;
    height: 2px;
    background-color: black;
}

i {
    margin-block: 30px;
    cursor: pointer;
    color: black;
}