
.sidebar {
    background-color: #e5e0c6; 
    width: 85px; 
    height: 90vh; 
    padding: 15px 0; 
    position: fixed; 
    border-radius: 24px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px;
    margin-left: 20px;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 15px 0; 
    font-size: 1.25rem;
    color: #4a4a4a; 
    text-decoration: none; 
}

.sidebar-top .icon-link:first-child {
    background-color: #ffffff; 
    border-radius: 10px; 
    color: #1a1a1a; 
}

.sidebar-bottom {
    width: 100%; 
    padding-bottom: 5px; 
}

.sidebar-bottom .logout {
    background-color: #d1c9ac; 
    width: 80%;
    height: 45px;
    margin: 0 auto; 
    border-radius: 10px; 
    color: #3b3b3b;
}

.sidebar-bottom .logout i {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
}