:host {
    max-height: 99vh;
    margin-inline: 20px;
}

.container {
    display: grid;
    grid-template-rows: 2fr 0.5fr;
    width: 100px;
    height: 98%;
    margin: 10px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.teacher {
    background-color: #EBE3C0;
}

.selected {
    background-color: #347492;
}

div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100px;
    height: 2px;
    background-color: black;
}
.container a {
    display: block; 
    width: 80px; 
    text-align: center;
    padding: 20px 0;
    margin: 8px auto; 
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: transparent;
}

.container a i {
    margin-block: 0; 
    font-size: 25px;
    cursor: pointer;
    color: black; 
}
.teacher a:hover {background-color: #1A547E;}
.teacher a:hover i {color: white; }