<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-top">
            <a href="#" class="icon-link">
             <i class="fa-solid fa-house"></i>
            </a>
            <a href="#" class="icon-link">
               <i class="fa-solid fa-graduation-cap"></i>
            </a>
        </div>
        
        <div class="sidebar-bottom">
            <a href="#" class="icon-link logout">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>
</body>