:host{display:block;}

.cards-ejercicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:0;
    border-radius: 12px;
    aspect-ratio: 1/1.1;
    width: 100%;
    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.cards-ejercicios:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.img-container {
    width: 85%;
    height: 100px;
    min-height: 250px;
    flex-grow: 1; 
    border-radius: 12px;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: contain;
    padding: 10%;
}

.activity-title {
    font-family: 'Fredoka',  sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color:var(--color-font);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 7%;
    padding: 0 10px; 

}
