:host{display:block;}

.card-ejercicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    border-radius: 20px;
    aspect-ratio: 1/1.1;
    width: 100%;

    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.cards-ejercicios:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.img-container {
    width: 85%;
    flex-grow: 1; 
    position: relative;
    border-radius: 12px;
    margin-top: 8%; 
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10%;
}

.activity-title {
    font-size: 1.1em;
    font-weight: 500;
    color:var(--color-font);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5%;
    padding: 0 10px; 
}
